<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    <header>
        {% block pagename %}
        <h1>Главная страница</h1>
        {% endblock %}
    </header>

    <nav>
        {% block menu  %}
        <h2><a href="/main">Главная</a></h2>
        <h2><a href="/cinema">Игры на ПК</a></h2>
        <h2><a href="/ticket">Корзина</a></h2>
        {% endblock %}
    </nav>

    <main>
        {% block content %}
        <a href="/main"><button>Вернуться на главную страницу</button></a>
        {% endblock %}
    </main>






</body>
</html>